<div id="box1">
  <div class="container">
    <div class="row top-summary">
      <div class="col-sm-6 col-md-6 col-lg-5">
        <%= image_tag 'top.jpg', class: "iphone" %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-7 top-message">
        <h1 style="margin-bottom: 40px;"><strong>プレステ仲間探しは “WE PLAY”</strong></h1>
        <h4><strong>ゲーム仲間が見つかる!</strong></h4>
        <h4><strong>クランが作れる！</strong></h4>
        <p style="font-size: small;"><%= link_to "使ってみる!?(ゲストでログイン)", new_user_session_path %></p>
      </div>
    </div>
  </div>
</div>