<h1>アプリ紹介</h1>
  <h2>
    このアプリは画像共有SNSです。
    友達と画像を共有しましょう!
  </h2>　
  
<h1>楽しみ方① 友達をフォローしよう！</h1>
    <h2>ユーザー一覧から友達を探そう</h2>
    <h2>友達のページからフォローボタンを押そう</h2>
    <h2>あなたのタイムラインに友達の投稿が流れます</h2>
  
<h1>楽しみ方②画像を共有しよう！</h1>
    <h2>投稿フォームから画像を共有しましょう</h2>
    <h2>画像にコメントを添えよう</h2>
    <h2>あなたのフォロワーにあなたの画像が共有されます</h2>
  
<h1>その他の楽しみ方</h1>
    <h2>気になる画像を検索ページから検索してみよう</h2>
    <h2>気に入った画像をお気に入り登録しよう</h2>