<div class="container">
  <h4 class="text-center">プライバシーポリシー</h4>
  <hr class="titleHr">
  <%# コンテンツ1 %>
  <div class="guide-content">
    <div class="guide-title">
      <h5><strong>【個人情報の管理】</strong></h5>
    </div>
    <div class="guide-body">
      <p>We Play https://weplay.jp（以下、「当サイト」とします）では、個人情報を取り扱うにあたっては、
      「個人情報の保護に関する法律」をはじめとする個人情報の保護に関する法令、ガイドラインおよび本プライバシーポリシーを遵守いたします。</p>
      <p>【収集される情報】</p>
      <p>- 当サイトを利用するには以下の情報が収集されます。
      - 端末の種類やIPアドレス・Cookie
      - 当サイトの利用履歴
      - お問い合わせから頂いた連絡先
      - ユーザー様ご入力の情報(ユーザー名/PSID/メールアドレス/性別/年齢等)</p>
    </div>
  </div>
  <%# コンテンツ2 %>
  <div class="guide-content">
    <div class="guide-title">
      <h5><strong>【情報の利用目的】</strong></h5>
    </div>
    <div class="guide-body">
      <p>
      - ユーザー認証によるログインによって利用者が当サイトで自身の情報を管理する為
      - ユーザービリティの改善
      - アクセス解析
      - 広告の配信
      - 悪質な使用や不正利用の防止
      - 利用するにあたってバグなどの不具合が発生した場合の解決</p>
    </div>
  </div>
  
  <%# コンテンツ3 %>
  <div class="guide-content">
    <div class="guide-title">
      <h5><strong>【個人情報の第三者への開示】</strong></h5>
    </div>
    <div class="guide-body">
      <p>当サイトでは、個人情報は適切に管理し、以下に該当する場合を除いて第三者に開示することはありません。
      - 本人のご了解がある場合
      - 法令等への協力のため、開示が必要となる場合</p>
      <p>Cookie（クッキー）</p>
      <p>当サイトでは、操作性の向上、ログイン状態の保持や情報の収集にCookieを使用しています。 
        Cookieは、ユーザーがサイトを訪れた際に、そのユーザーのコンピュータ内に記録されます。 
        ただし、記録される情報には、ユーザー名やメールアドレスなど、個人を特定するものは一切含まれません。 
        また、当サイトではユーザーの方々がどのようなサービスに興味をお持ちなのかを分析したり、
        ウェブ上での効果的な広告の配信のためにこれらを利用させていただく場合があります。</p>
    </div>
  </div>

  <%# コンテンツ4 %>
  <div class="guide-content">
    <div class="guide-title">
      <h5><strong>【免責事項】</strong></h5>
    </div>
    <div class="guide-body">
      <p>
      (1)当サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。
      (2)利用者により投稿された内容の保証を致しません。
      (3)サーバー障害やデータの損失など当サイトの利用に関する損害について一切の責任を負いません。
      </p>
  </div>
  <%# コンテンツ5 %>
  <div class="guide-content">
    <div class="guide-title">
      <h5><strong>【プライバシーポリシーの変更について】</strong></h5>
    </div>
    <div class="guide-body">
      <p>
      当サイトは、個人情報に関して適用される日本の法令を遵守するとともに、本ポリシーの内容を適宜見直しその改善に努めます。
      修正された最新のプライバシーポリシーは常に本ページにて開示されます。
      </p>
    </div>
  </div>
</div>