<div class="container">
  <p class="example1 text-center padding-top">プライバシーポリシー</p>
  <%# コンテンツ1 %>
  <div class="guide-content">
    <div class="page_title">
      <h5><strong>【個人情報の管理・情報利用の目的】</strong></h5>
    </div>
    <div class="guide-body">
      <p>We Play(https://weplay.jp、以下「当サイト」とします）では、個人情報を取り扱うにあたっては、</br>
      「個人情報の保護に関する法律」をはじめとする個人情報の保護に関する法令、ガイドラインおよび本プライバシーポリシーを遵守いたします。</p></br>
      <p>当サイトを利用する際には以下の情報(収集される情報)が収集されます。</p>
      <ol>
        <li>(1)端末の種類やIPアドレス・Cookie</li>
        <li>(2)当サイトの利用履歴</li>
        <li>(3)お問い合わせから頂いた連絡先</li>
        <li>(4)ユーザー様ご入力の情報(ユーザー名/PSID/メールアドレス/性別/年齢等)</li>
      </ol></br>
      <p>また、収集された情報は以下の目的(情報利用の目的)で利用されることがあります。</p>
      <ol>
        <li>(1)ユーザー認証による利用者の当サイトでの自身の情報の管理</li>
        <li>(2)ユーザービリティの改善</li>
        <li>(3)アクセス解析</li>
        <li>(4)広告の配信</li>
        <li>(5)悪質な使用や不正利用の防止</li>
        <li>(6)不具合が発生した場合の解決</li>
      </ol>
    </div>
  </div>
  <%# コンテンツ2 %>
  <div class="guide-content">
    <div class="page_title">
      <h5><strong>【個人情報の第三者への開示】</strong></h5>
    </div>
    <div class="guide-body">
      <p>(1)当サイトでは個人情報は適切に管理し、本人のご了解がある場合又は、</br>
      &emsp;法令等への協力のため開示が必要となる場合を除いて、第三者に開示することはありません。</p>
      <p>(2)当サイトでは、操作性の向上、ログイン状態の保持や情報の収集にCookieを使用しています。Cookieはユーザーがサイトを訪れた際に、</br>
      &emsp;そのユーザーのコンピュータ内に記録されますが、記録される情報にはユーザー名やメールアドレス等個人を特定するものは一切含まれません。</p>
      <p>(3)当サイトではユーザーの方々がどのようなサービスに興味をお持ちなのかを分析したり、</br>
      &emsp;ウェブ上での効果的な広告の配信のためにこれらを利用させていただく場合があります。</p>
    </div>
  </div>
  <%# コンテンツ3 %>
  <div class="guide-content">
    <div class="page_title">
      <h5><strong>【免責事項】</strong></h5>
    </div>
    <div class="guide-body">
      <ol>
        <li>(1)当サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、</br>
        &emsp;サービス等について一切の責任を負いません。</li>
        <li>(2)利用者により投稿された内容の保証を致しません。</li>
        <li>(3)サーバー障害やデータの損失など当サイトの利用に関する損害について一切の責任を負いません。</li>
      </ol>
    </div>
  </div>
  <%# コンテンツ4 %>
  <div class="guide-content">
    <div class="page_title">
      <h5><strong>【プライバシーポリシーの変更について】</strong></h5>
    </div>
    <div class="guide-body">
      <p>
      当サイトは、個人情報に関して適用される日本の法令を遵守するとともに、本ポリシーの内容を適宜見直しその改善に努めます。</br>
      修正された最新のプライバシーポリシーは常に本ページにて開示されます。
      </p>
    </div>
  </div>
</div>