<div class="container">
  <h4 class="text-center">利用規約・お問い合わせ</h4>
  <hr class="titleHr">  
  <%# コンテンツ1 %>
  <div class="guide-content">
    <div class="guide-title">
      <h5><strong>利用規約</strong></h5>
    </div>
    <div class="guide-body">
      【禁止事項】
      <ol>
        <li>なりすまし行為や晒し</li>
        <li>異性との出会いを目的とした行為</li>
        <li>アダルトな内容を含む投稿</li>
        <li>法令・条例・公序良俗に反する行為</li>
        <li>犯罪行為、犯罪行為に結びつく行為、またはその恐れのある行為</li>
        <li>宣伝・金銭に関わる行為・騙そうとする行為</li>
        <li>その他当サイトが不適切と判断した行為</li>
      </ol>
      <p>禁止事項に違反したと判断される場合は利用制限や関連するアカウント・クランの削除を行うことがあります。</p>
    </div>
  </div>
  <%# コンテンツ2 %>
  <div class="guide-content">
    <div class="guide-title">
      <h5><strong>【お問い合わせ】</strong></h5>
    </div>
    <div class="guide-body">
      <p>
      (1)不具合・バグの報告
      (2)機能追加や変更等の要望
      (3)その他本サービスに関する問い合わせ
      </p>
      <h6 class="greeting-sentence">
        等があれば以下のフォームまたはTwitterアカウントにご連絡お願い致します。
      </h6>
      </div>
  </div>
</div>