@import "bootstrap";
@import "font-awesome";
@import "reset";
@import "header";
@import "footer";
@import "pages";
@import "image";
@import "user";
@import "clan";
@import "board";

// body
.body{
  margin-bottom: 130px;
  color: #363636;
  font-size: 100%;
}

.wrapper{
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.error_message{
  color: #72261c;
}

a{
  color:  black;
  font-weight: bold;
}


// for pages
.titleHr{
  margin-top: 10px;
  border-top: 1px solid #e9eef1;

}

.content{
  margin-top: 10px;
}

.show-message{
  float: right;
  margin-bottom: 10px;
}

.follower-face{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.top-summary{
  margin-top: 50px;
  margin-bottom: 120px;
}

.top_image{
  width: 100%;
  margin-top: 50px;
}



.top_howto{
  width: 100%;
  margin: 20px 0 40px 0;
}

.top-registraion{
  padding: 60px;
  background-color: #f5f8fa;
  border-radius: 15px;
}

.top-message{
  margin-top: 50px;
  
}


// トップページ
.btn1{
  color: #fff;
  background-image: linear-gradient(260deg, #3a51d3, #010ca3);
  border-radius: 50px;
  width: 240px;
  margin: 40px 50px 0px 0px;
}

.btn1:hover {
  background-image: linear-gradient(260deg, #4e62d6, #3a51d3);
  color: #fff;
}
// ちょっとしたボタン・プロフィール編集等
.btn2{
  color: #fff;
  background-color: #010ca3;
  width: 140px;
  height: 30px;
  font-size: small;
  margin: 20px auto;
}
.btn2:hover {
  background-color: #3a51d3;
  color: #fff;
}

.btn_mini_red{
  color: #fff;
  background-color: brown;
  width: 140px;
  height: 30px;
  font-size: small;
  margin: 20px auto;
}
.btn_mini_red:hover {
  background-color: rgb(185, 80, 80);
  color: #fff;
}



// deviceクリック(yes)
.btn3{
  background-image: linear-gradient(260deg, #3a51d3, #010ca3);
  margin: 30px 0px 0px 0;
  color: #fff;
}

.btn3:hover {
  background-image: linear-gradient(260deg, #4e62d6, #3a51d3);
  color: #fff;
}

// ゲストログイン・device戻るボタン(no)
.btn4{
  background-color: gray;
  margin: 30px 0px 0px 0;
  color: #fff;
}

.btn4:hover {
  background-color: #9e9e9e;
  color: #fff;
}

.btn_red{
  background-color: brown;
  margin: 30px 0px 0px 0;
  color: #fff;
}

.btn_red:hover {
  background-color: rgb(185, 80, 80);
  color: #fff;
}

.btn_req {
  color: #fff;
  height: 30px;
  font-size: small;
  background-color: #010ca3;
  margin: 5px 0;
}

.btn_req:hover {
  background-color: #3a51d3;
  color: #fff;
}

.btn_req2 {
  color: #fff;
  height: 30px;
  font-size: small;
  background-color: brown;
  margin: 5px 0;
}

.btn_req2:hover {
  background-color: rgb(185, 80, 80);
  color: #fff;
}

#box1{
  background-color: #fff;
  margin-top: 120px;
}

#box2{
  background-color: #fff;
}

// トップ大文字・device見出し・pages見出し
p.example1 {
  font-size: xx-large; 
  text-decoration: none;
  margin: 20px 0px 20px 0px;
  font-weight: bold;
}

//ユーザープロフィール用
p.example2 {
  font-size: x-large; 
  text-decoration: none;
  font-weight: bold;
}

p.padding-top{
  padding-top: 20px;
}


.co-wrap {
  display: flex;
  flex-direction: column;
}

.row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



// カミナリ
.pagination{
  justify-content: center;
}
.pagination li a {          
  color: #010ca3;   /*文字の色を変える*/
  margin: 0 10px;
}
/*ホバー時のデザイン*/
.pagination li a:hover {        
  color: #3a51d3;     /*背景の色を変える*/
}
/*ホバー時のデザイン*/
.badge-primary{
  background-color:#010ca3;
}