@import "bootstrap";
@import "font-awesome";
@import "reset";
@import "header";
@import "footer";
@import "pages";

// body
.body{
  margin-bottom: 130px;
  color: #363636;
  font-size: 100%;
}

// 何に使ってる?
.wrapper{
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.error_message{
  color: #72261c;
}

a{
  color:  black;
  font-weight: bold;
}


// for pages
.titleHr{
  margin-top: 10px;
  border-top: 1px solid #e9eef1;

}

.content{
  margin-top: 10px;
}

.show-message{
  float: right;
  margin-bottom: 10px;
}

.follower-face{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}



.top-summary{
  margin-top: 50px;
  margin-bottom: 120px;
}

.iphone{
  width: 100%;
}
// トップページ
.btn1{
  color: #fff;
  background-image: linear-gradient(260deg, #3a51d3, #010ca3);
  border-radius: 50px;
  width: 240px;
  margin: 0px 20px 0px 0px;
}

// deviceクリック(yes)
.btn3{
  background-image: linear-gradient(260deg, #3a51d3, #010ca3);
  margin: 30px 0px 0px 0;
  color: #fff;
}
// ゲストログイン・device戻るボタン(no)
.btn4{
  background-color: gray;
  margin: 30px 0px 0px 0;
  color: #fff;
}

.top-message{
  margin-top: 50px;
  
}



.about-hareyaka{
  width: 100%;
  margin: 20px 0 100px 0;
}

.top-registraion{
  padding: 60px;
  background-color: #f5f8fa;
  border-radius: 15px;
}

#box1{
  background-color: #fff;
}

#box2{
  background-color: #fff;
}

// トップ大文字・device見出し
p.example1 {
  font-size: xx-large; 
  text-decoration: none;
  margin: 20px 0px 20px 0px;
  font-weight: bold;
}

p.example2 {
  font-size: large; 
  text-decoration: none;
  margin-bottom: 10px;
}

p.example3 {
  font-size: small; 
  text-decoration: none;
  margin-bottom: 10px;
}

p.example4 {
  font-size: xx-large; 
  text-decoration: none;
  padding-top: 50px;
  margin-bottom: 100px;
}

.icon_image {
  width: 200px;
  height: 200px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}
