@import "bootstrap";
@import "font-awesome";
@import "reset";
@import "config/variable";
@import "header";
@import "footer";

.top-summary{
  margin-top: 50px;
  margin-bottom: 120px;
}

.iphone{
  width: 100%;
}

.top-registration-btn{
  color: #fff;
  background-image: linear-gradient(260deg, #00c4c4, #0d93e0);
  border-radius: 50px;
  width: 240px;
  margin: 40px 0 20px 0;
}

.top-message{
  margin-top: 50px;
}

.about-hareyaka{
  width: 100%;
  margin: 20px 0 100px 0;
}

.top-registraion{
  padding: 60px;
  background-color: #f5f8fa;
  border-radius: 15px;
}