footer{
  width: 100%;
  background-image: linear-gradient(260deg, #3a51d3, #010ca3);
  color: #fff;
  text-align: center;
  bottom: 0;
  padding: 15px 0 15px 0;
  margin-top: 40px auto 0 auto;
}

.footer-license{
  float: left;
}