footer{
  width: 100%;
  background-image: linear-gradient(260deg, #3a51d3, #010ca3);
  color: #fff;
  text-align: center;
  padding: 15px 0 15px 0;
  margin-top: 40px;
}

.footer-license{
  float: left;
}