footer{
  width: 100%;
  background-image: linear-gradient(260deg, #2d47d4, #010ca3);
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 15px 0 15px 0;
}

.footer-license{
  float: left;
}