.icon_image_mini {
  width: 40px;
  height: 40px;
  //サイズ指定
  border-radius: 20px;
  margin: 0 5px 0 0;
  border: #010ca3 2px solid;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

.icon_image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  //サイズ指定
  border-radius: 100px;
  border: #010ca3 5px solid;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

.clan_image {
  width: 200px;
  height: 200px;
  //サイズ指定
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

.clan_image_show {
  width: 200px;
  height: 200px;
  //サイズ指定
  object-fit: cover;
  border: #eee 3px solid;
  //タテヨコ比を変えないままトリミング
}

.image_center{
  text-align: center;
}