<footer>
  <nav class="navbar">
    <span class= "footer-license">©2020 Junkratmecha All Rights Reserved.</span>
    <div class="guide-link">
      <span class="text-right">
        <i class="fas fa-headphones-alt"><%=link_to " パーティープレイの始め方", howto_path, style: "color: #e9eef1; margin-right: 10px;" %></i>
        <i class="fas fa-question-circle"><%= link_to " 利用規約・お問い合わせ", terms_path, style: "color: #e9eef1; margin-right: 10px;" %></i>
        <i class="fas fa-book-reader"><%= link_to " プライバシーポリシー", privacy_path, style: "color: #e9eef1;" %></i>
      </span>
    </div>
  </nav>
</footer>
