<header class="header">
  <div class="header__bar"> 
    <div id="logo">
      <%= image_tag 'logo2.png', size: '128x64' %>
    </div>
    <ul class="header__bar__user_nav">
      <li class="header__bar__user_nav__btn">
        <%= link_to "ログイン", "#" %>
      </li>
      <li class="header__bar__user_nav__btn">
        <%= link_to "新規登録", "#" %>
      </li>
    </ul>
  </div>
</header>